@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700|Libre+Baskerville:400,700&display=swap");

.App {
  text-align: center;
  font-family: "Anonymous Pro", monospace;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #f6fbf5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #74c178;
}

h2 {
  color: #efdeaa;
  font-family: "Libre Baskerville", serif;
}

.App-link {
  color: #09d3ac;
}

.Item {
  font-size: calc(10px + 2vmin);
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 7px;
  background-color: #efdeaa6e
}

ItemInfo{
  display: flex;
  flex-direction: row;
}

.watered{
  background-color: #f3efd5;
  border: none;
  cursor: pointer;
}

.watered img{
  background-color: #f3efd5;
  height: 25px;
  width: 25px;
}

.placing{
  font-size: calc(2px + 2vmin);
  margin: 4px;
}

.ItemInput input {
  font-size: calc(10px + 2vmin);
  padding-left: 5px;
  border: none;
  background-color: #74a590c7;
}

::placeholder {
  color: #f6fbf5;
}

.ItemInput button {
  font-size: calc(10px + 2vmin);
  background-color: #74c178b5;
  color: #f6fbf5;
  padding: 5px 10px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
}

.Item span {
  color: #c5a953;
  padding-left: 5px;
  font-size: 15px;
  cursor: pointer;
}

.Timer{
  color: #efdeaa;
}

label {
  margin-bottom: 5px;
}
